---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/splash.png
  cta_label: "<i class='fa fa-download'></i> Get it"
  cta_url: "https://github.com/OpenSYCL/OpenSYCL"
  caption: 
excerpt: 'All things OpenSYCL.'
feature_row:
  - image_path: /assets/images/logo-color.png
    title: "The code on GitHub"
    excerpt: "All OpenSYCL development is open source. Get the code, file bug reports or contribute."
    url: "https://github.com/OpenSYCL/OpenSYCL"
    btn_label: "Source Repository"
  - image_path: /assets/images/arrow.png
    title: "Track Open SYCL implementation progress"
    excerpt: "See the implementation progress of SYCL 2020 features in OpenSYCL."
    url: "https://github.com/OpenSYCL/featuresupport"
    btn_label: "Learn More"
  - image_path: /assets/images/empty-logo-frame.png
    alt: "customizable"
    title: "Blog posts"
    excerpt: "Read the latest OpenSYCL-related blog posts."
    url: "/posts"
    btn_label: "Learn More"
intro:
  - excerpt: ''
author_profile: false
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
