---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/splash.png
  cta_label: "<i class='fa fa-download'></i> Get it"
  cta_url: "https://github.com/AdaptiveCpp/AdaptiveCpp"
  caption: 
excerpt: 'The independent, community-driven platform for heterogeneous programming in C++'
feature_row:
  - image_path: /assets/images/empty-logo-frame.png
    title: "The code on GitHub"
    excerpt: "All AdaptiveCpp development is open source. Get the code, file bug reports or contribute."
    url: "https://github.com/AdaptiveCpp/AdaptiveCpp"
    btn_label: "Source Repository"
  - image_path: /assets/images/empty-logo-frame.png
    title: "Documentation"
    excerpt: "Read the latest documentation"
    url: "https://adaptivecpp.github.io/AdaptiveCpp"
    btn_label: "Learn More"
  - image_path: /assets/images/empty-logo-frame.png
    alt: "customizable"
    title: "Blog posts"
    excerpt: "Read the latest blog posts related to AdaptiveCpp."
    url: "/posts"
    btn_label: "Learn More"
intro:
  - excerpt: ''
author_profile: false
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
